* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
  background-color: #1b1b1b;
}

.box {
  height: 200px;
  width: 200px;
  background-color: red;
}

button {
  padding: 15px 30px;
  margin: 50px 0px 0px 20px;
  font-size: 32px;
  border-radius: 12px;
  cursor: pointer;
}